* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
}

/* ----------------- MENU TOPO ----------------- */
#menu {
  width: 100vw;
  height: 13vh;
  background-color: #1D1D57;
  border-bottom: 1px solid #9AF7FC;
  color: #F21118;
  display: flex;
  justify-content: space-between;
}
.img {
  align-self: flex-start;
}
#menu img {
  margin-top: 10px;
  margin-left: 10px;
  width: 10%;
  height: 70%;
}
#menu h1 {
  font-size: 320%;
  margin: 1%;
}
h1 {
  height: 100%;
  width: 30%;
  font-family: "Ranchers", cursive;
  font-size: 600%;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px #9AF7FC;
}

#imgNintendo {
  border-radius: 5%;
}

/* ----------------- MAIN ----------------- */
main {
  margin-top: 4%;
  display: flex;
}

#mensagem {
  width: 90%;
  height: 20vh;
  background-color:#191842 ;
  border-radius: 5%;
  border: 1px solid #9AF7FC;
  font-family: "Ranchers", cursive;
  font-size: 200%;
  margin: 5%;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#mensagemBtt {
  width: 31%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mensagemBtt #divWin {
  background-color: #2f2e7e;
  width: 280px;
  height: 100px;
  margin: 4%;
  border-radius: 8%;
  border: 2px solid  #9AF7FC ;
  text-align: center;
  padding: 20px;
  font-size: 25px;
  color:#F0F249 ;
  font-weight: bold;
  text-transform: uppercase;
}
#btt {
  width: 40%;
  height: 20%;
  border: 2px solid  #9AF7FC;
  border-radius: 12%;
  background-color: #F21118;
  font-size: 180%;
  font-family: "Ranchers", cursive;
  color: whitesmoke;
  cursor: pointer;
}

#btt:hover {
  background-color: whitesmoke;
  color: #F21118;
}

/* ----------------- BOARD ----------------- */
#table {
  width: 60%;
  height: 60%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.colunas {
  width: 6vw;
  height: 50vh;
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 4px solid#9AF7FC ;
  position: relative;
  
}

.linha1,
.linha2,
.linha3,
.linha4,
.linha5,
.linha6 {
  background-image: url("./img/dott.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-left: 2px solid #9AF7FC;
  border-right: 2px solid #9AF7FC;
  padding: 1%;
}

.linha7 {
  width: 100%;
  height: 100%;
  background-color: black;
}

/* ----------------- FOOTER ----------------- */
footer {
  width: 100%;
  height: 8vh;
  background-color:  #1D1D57;
  bottom: 0;
  border-top: 1px solid #9AF7FC;
  border-bottom: 1px solid #9AF7FC;
  padding: 2%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.linkedin {
  text-decoration: none;
  color: whitesmoke;
  font-size: 100%;
}

.linkedin:hover {
  color: #F21118;
}

#kenzie {
  width: 50%;
  height: 50%;
  margin-top: 7%;
}

/* ----------------- PLAYERS ----------------- */
.player1 {
  width: 100%;
  height: 100%;
  background-image: url("./img/pac.gif");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -59%;
}

.player2 {
  width: 100%;
  height: 100%;
  background-image: url("./img/gostt.gif");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -59%;
}

.p1 {
  width: 100%;
  height: 100%;
  background-image: url("./img/pac.gif");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.p2 {
  width: 100%;
  height: 100%;
  background-image: url("./img/gostt.gif");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

/* ----------------- MOBILE ----------------- */

@media screen and (max-width: 1050px) {
  h1 {
    font-size: 200%;
  }
  #menu  {
    height: 60px;
    text-align: center;
  }
  #menu img {
    display: none;
  }
  #menu h1 {
    width: 600px;
    font-size: 200%;
  }

  #principal {
    display: flex;
    flex-direction: column;
  }

  #mensagemBtt {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #mensagem {
    padding: 3px;
    margin-top: 5%;
    
    width: 55%;
    height: 15vh;
    font-size: 100%;
    text-transform: uppercase;
    text-align: center;
  }

  #btt {
    font-size: 80%;
    width: 27%;
    height: 8vh;
    margin-left: 8px;
  }
  #mensagemBtt #divWin {
    font-size: 19px;
    width: 160px;
    padding: 5px;
    text-align: center;
  }

  #table {
    margin-top: 10%;
    width: 100%;
  }

  .colunas {
    width: 12%;
  
  }
  footer  {
    height: 70px;
  }
  footer img {
    margin: 5px;
  }
}
